@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');
@import url(../gui/variables.css);

:root {
    /* Notification Colors */
    --success: #28a745;
    --warning: #e09f00;
    --error: #c24038;
    --info: #4070f4;

    /* Notification Background */
    --bg-toast: #131D28;

    /* Notification Width */
    --toast-width: 420px;
}

#notification-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 30px;
    left: calc(100% - var(--toast-width));
    width: var(--toast-width);
    z-index: 9999;
    gap: 10px; /* Espacio entre las notificaciones */
}

.toast {
    position: relative;
    margin-right: 30px;
    border-radius: 12px;
    background: var(--bg-toast);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    animation: slideOut 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 1;
}

.toast.active {
    animation: slideIn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35) forwards;
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .check.success {
    background-color: var(--success);
}

.toast-content .check.warning {
    background-color: var(--warning);
}

.toast-content .check.error {
    background-color: var(--error);
}

.toast-content .check.info {
    background-color: var(--info);
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

.message .text.text-1 {
    font-weight: 600;
    color: #fff;
}

.toast .close {
    color: #ecf0f1;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.toast .progress.success:before {
    background-color: var(--success);
}

.toast .progress.warning:before {
    background-color: var(--warning);
}

.toast .progress.error:before {
    background-color: var(--error);
}

.toast .progress.info:before {
    background-color: var(--info);
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(calc(100% + 30px));
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(calc(100% + 30px));
    }
}