@import url(./modal-cobro.css);

:root {
    --table-height: 250px; /* Altura de la tabla */
}

.modal-product-select {
    overflow-y: hidden; /* Oculta el scroll vertical */
}

.table-card {
    margin: 0;
}

.sales-search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px; /* Espacio entre elementos */
}

.sales-search-bar input {
    width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
}

.sales-search-bar button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto; /* Ajusta el ancho automáticamente */
    gap: 12px; /* Espacio entre icono y texto */
}

.table-sales tbody {
    display: block;
    overflow: auto;
    border-radius: var(--card-radius);
    box-shadow: var(--product-shadow);
    height: var(--table-height);
}

.table-sales thead, 
.table-sales tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

.table-sales thead th:nth-child(2),
.table-sales tbody td:nth-child(2) {
    width: 90px;
}

.table-sales thead th:nth-child(3),
.table-sales tbody td:nth-child(3) {
    width: 230px;
}

.nodata {
    height: calc(var(--table-height) - 5px); /* Altura de la tabla menos 5px */
}

.sales-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg); /* Variable CSS para el fondo */
    border-radius: var(--card-radius); /* Variable CSS para el radio del borde */
    box-shadow: var(--card-shadow); /* Variable CSS para la sombra */
    padding: 0.7rem; /* Espaciado interno */
    margin-top: 20px; /* Margen superior */
    height: auto; /* Altura automática */
    color: #fff; /* Color del texto */
    gap: 100px; /* Espacio entre elementos */
}

.sales-price-info {
    width: 100%; /* Ancho completo */
}

.sales-price {
    display: flex; /* Flexbox */
    justify-content: space-between;
    width: 60%; /* Ancho completo */
    gap: 20px; /* Espacio entre elementos */
}

.sales-price.subtotal {
    font-size: 1.2rem; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}

.sales-price.total {
    font-size: 1.5rem; /* Tamaño de fuente mayor */
    font-weight: bolder; /* Negrita más fuerte */
}

.sales-price.total span {
    color: #fff; /* Color del texto */
}

.sales-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; /* Ancho completo */
    gap: 15px; /* Espacio entre elementos */
}

.sales-buttons button {
    display: flex; /* Flexbox */
    flex-direction: row; /* Alinea los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
    margin: auto; /* Centra el botón */
    width: 100%; /* Ancho completo */
    gap: 12px; /* Espacio entre icono y texto */
}

.sales-button span {
    color: #fff !important;
}

.icon {
    margin: 4px;
    font-size: larger;
}

.last-sale-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--bg); /* Variable CSS para el fondo */
    border-radius: var(--card-radius); /* Variable CSS para el radio del borde */
    box-shadow: var(--card-shadow); /* Variable CSS para la sombra */
    margin-top: 20px; /* Margen superior */
    padding: 0.7rem; /* Espaciado interno */
    height: auto; /* Altura automática */
    color: #fff; /* Color del texto */
    gap: 10px; /* Espacio entre elementos */
}

.last-sale-title {
    font-size: 1.2rem; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    width: 100%; /* Ancho completo */
}

.last-sale-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ancho completo */
    gap: 40px; /* Espacio entre elementos */
}

.last-sale {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; /* Ancho completo */
    gap: 20px; /* Espacio entre elementos */
}

.last-sale span:first-child {
    color: #fff; /* Color del texto */
}

.sales-product-select {
    flex: 1 1 calc(50% - 1rem);
    min-height: calc(100% - 360px);
    max-height: calc(100% - 90px);
    border-radius: var(--card-radius);
    overflow-y: auto;
}

.search-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-body); /* Variable CSS para el fondo */
    border-radius: var(--card-radius); /* Variable CSS para el radio del borde */
    box-shadow: var(--card-shadow); /* Variable CSS para la sombra */
    margin-bottom: 20px; /* Margen inferior */
    padding: 0.7rem; /* Espaciado interno */
    color: #fff; /* Color del texto */
    height: 60px; /* Altura fija */
    gap: 5px; /* Espacio entre elementos */
}

.search-input-container input {
    height: 40px; /* Altura fija */
    width: 100%; /* Ancho completo */
}

.product-card {
    display: flex;
    flex-direction: row;
    text-align: left;
    background: var(--bg-body);
    border-radius: var(--card-radius);
    box-shadow: var(--product-shadow);
    transition: all 0.3s;
    margin-bottom: 10px;
}

.product-card:last-child {
    margin-bottom: 0;
}

.product-card:hover,
.product-card.selected {
    background: var(--main-light);
    box-shadow: var(--shadow-light);
    transform: translateY(-3px);
}

.product-card:hover {
    cursor: pointer;
}

.product-card:hover span,
.product-card:hover small,
.product-card:hover h3,
.product-card.selected span,
.product-card.selected small, 
.product-card.selected h3 {
    color: #fff;
}

.product-card:hover .product-img {
    border: 4px solid #fff;
}

.product-radio {
    display: none;
}

.product-img {
    height: 100px;
    width: 100px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #3E454D;
    border-radius: 50%;
}

.card-header,
.card-body {
    padding: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}

.card-title h2 {
    margin-bottom: -10px;
}

.card-title small {
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--disabled);
}

.card-body p {
    margin: 10px 0;
    font-size: medium;
}

.card-body h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-light);
}

.tab-container {
    border-radius: var(--card-radius);
    background: transparent;
    overflow: hidden;
    margin: 20px 0;
}

.tab-buttons {
    display: flex;
    align-items: center;
    background-color: var(--bg);
    box-shadow: var(--card-shadow);
    overflow-x: auto;
    padding: 5px;
}

.tab-buttons span:first-child,
.tab-buttons span:last-child {
    color: #fff;
}

.tab-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--card-radius);
    height: 45px;
    gap: 10px;
}

.delete-tab {
    margin-right: -10px;
    padding: 0 10px;
}

.tab-buttons.active span.delete-tab:hover,
.tab-buttons span.delete-tab:hover {
    color: red;
    transform: scale(1.2);
    transition: all 0.3s;
}

.tab-button.active {
    background-color: var(--main);
}

.tab-button.active span {
    font-weight: bold;
    color: #222;
}

#add-tab {
    width: 50px;
}

.table-sales {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}