body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

button {
    margin: 5px 10px;
    background-color: #ffffd6;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    cursor: pointer;
}

input, select {
    font-size: 14px;
    align-items: center;
    text-align: center;
    width: 140px;
    margin: 0;
    padding: 5px;
}

#createButton {
    align-self: flex-start;
    margin-right: 0;
    margin-bottom: 10px;
}

.table-container {
    width: 80%;
    margin-bottom: 20px; /* Espacio abajo del contenedor */
}

.pagination-container, .table-header {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos del contenedor */
    margin-bottom: 5px;
    align-items: center;
    width: 100%; /* Ajusta según el ancho deseado */
}

#paginationSort {
    flex: 1;
}

#paginationSize {
    flex: 1; /* Permite que este elemento ocupe el espacio disponible */
}

#sortSelector {
    margin: 5px 10px;
    background-color: #ffffd6;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
}

#pageSizeSelector {
    margin: 5px 10px;
    background-color: #ffffd6;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
}

#paginationControls {
    display: flex;
    align-items: center;
}

#paginationControls button {
    margin: 0 10px; /* Espacio entre los botones */
}

#message {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;

    transition: max-height 0.5s, opacity 0.5s ease-out; /* Duración y tipo de transición */
    opacity: 0; /* Inicialmente no visible */
}

#message.fade-in {
    max-height: auto;
    opacity: 1; /* Aparece con una transición suave */
}

#message.fade-out {
    max-height: 0;
    opacity: 0; /* Desaparece con una transición suave */
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}
.success {
    background-color: #d4edda;
    color: #155724;
}

.menu-button {
    display: block;
    width: max-content;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #ffffd6;
    border: 1px solid #545454;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
