@import './gui/sidebar.css';
@import './gui/header.css';
@import './gui/table.css';

.main-content {
    margin-left: var(--sidebar-width);
    height: 100vh;
    padding: 0.5rem 1rem;
    transition: margin-left 300ms;
}

main {
    margin-top: calc(70px + 0.5rem);
    padding: 1rem 0;
    height: 50vh;
}

main hr {
    border-color: var(--bg-body);
    border-radius: 50%;
    margin: 10px auto;
    width: 91%;
}

.page-header {
    padding: 1.3rem 1rem;
    color: #fff;
}

.page-header span,
.page-content span,
.card-body span {
    color: var(--main);
}

.page-content {
    padding: 0.5rem 1rem;
    overflow: auto;
}

.product-barcode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 10px;
    background: var(--bg);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
}

.product-barcode input {
    width: 100%;
}

.product-barcode button {
    width: 150px;
    margin-left: 10px;
}

.sales-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sales-container .card {
    flex: 1 1 calc(50% - 1rem);
    min-height: calc(100vh - 360px);
    max-height: calc(100vh);
    overflow-y: auto;
    background: var(--bg);
    border-radius: var(--card-radius);
    color: #fff;
    box-shadow: var(--card-shadow);
    margin-bottom: 1rem;
    margin-right: 10px;
}

.sales-container .card:last-child {
    margin-left: 10px;
}

.product-card {
    display: flex;
    flex-direction: row;
    background: var(--bg-body);
    border-radius: var(--card-radius);
    margin: 10px;
    box-shadow: var(--product-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    background: var(--main-light);
    box-shadow: var(--shadow-light);
    transform: translateY(-3px);
    cursor: pointer;
}

.product-card:hover span,
.product-card:hover small {
    color: #fff;
}

.product-card:hover .product-img {
    border: 4px solid #fff;
}

.product-img {
    height: 100px;
    width: 100px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #3E454D;
    border-radius: 50%;
}

.card-header,
.card-body {
    padding: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}

.card-title h2 {
    margin-bottom: -10px;
}

.card-title small {
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--disabled);
}

.card-body p {
    margin: 10px 0;
}

.sales-container .card:last-child {
    overflow-y: hidden;
}

.sales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    background: var(--bg-body);
    border-radius: var(--card-radius);
    margin: 10px;
    padding: 10px;
    box-shadow: var(--product-shadow);
}

.sales-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: var(--bg);
    color: var(--main);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
}

.sales-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    margin: 1rem 0;
    background-color: var(--bg);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
}

.sales-list.empty {
    justify-content: center;
    color: var(--disabled);
}

.sales-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--bg);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
}

.sales-total {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    width: 100%;
}

.sales-button {
    width: 100%;
}

.sales-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 96%;
    background: var(--bg-body);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
}

.sales-item-body {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.sales-item-body p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
}

.sales-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.sales-item-img {
    height: 50px;
    width: 50px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #3E454D;
    border-radius: 50%;
}

.sales-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px;
    width: 50%;
}

.sales-item-info small {
    color: var(--disabled);
}

.sales-info p {
    font-size: 1rem;
    font-weight: bold;
}

.sales-item-quantity {
    display: flex;
    justify-content: space-between;
}

.sales-item-quantity button {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.sales-item-quantity input {
    width: 70px;
    height: 40px;
    text-align: center;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid var(--main);
    background: transparent;
    color: #fff;
    font-size: 1rem;
}

.remove-button {
    border: 2px solid var(--danger);
    color: var(--danger);
}

.remove-button:hover {
    background-color: var(--danger);
    border-color: var(--danger);
    color: #fff;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    body {
        overflow-x: auto;
    }

    .main-content {
        margin-left: 0;
    }

    .sales-container .card {
        flex: 1 1 100%;
        margin-right: 0;
    }

    .sales-container .card:last-child {
        margin-left: 0;
    }

    .product-barcode {
        flex-direction: column;
    }

    .product-barcode button {
        width: 100%;
        margin-top: 10px;
    }

    .product-barcode input {
        width: 100%;
        margin-left: 10px;
    }
}