@import url(../gui/modal.css);

.categoria-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.categoria-info input, textarea,
.input-select {
    width: 100%;
}

.categoria-info textarea {
    height: 100%;
}

.input-select label {
    margin-bottom: 5px;
    align-self: flex-start;
}